#aboutme {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-background);
}

#aboutText {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

#aboutText h2 {
  position: relative;
  display: inline-block;
  margin-bottom: 2rem;
}

#aboutText h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: var(--highlight-color);
  margin: 0.5rem auto 0;
}

#aboutText .lead {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

#aboutText p {
  line-height: 1.8;
}
