#blog {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#blogsWrap {
  display: inline-flex;
  gap: 2rem;
}

@media screen and (min-width: 992px) {

}

@media screen and (max-width: 991px) {
  #blog {
    align-items: center;
  }
}