#contactme {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.contact-wrap {
  display: flex;
  gap: 4rem;
  align-items: flex-start;
}

.contact-text {
  flex: 1;

  & p {
    margin-bottom: 0;
  }
}

.contact-links {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.1rem;
  transition: color 0.2s ease;

  &:hover {
    color: var(--highlight-color);
  }

  & svg {
    width: 1.5rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .contact-wrap {
    flex-direction: column;
    text-align: center;
  }

  .contact-item {
    justify-content: center;
  }
}
