.full-blog-post {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 1440px;
    padding: 5%;
    height: 100%;
    background: var(--zm-light-black);
    transition: right 0.3s ease-in-out;
    overflow-y: auto;
    padding: 4rem;
    box-sizing: border-box;
    z-index: 10;
    
    & .blog-title {
        color: var(--zm-white);
        font-weight: 500;
        font-size: clamp(2.5rem, 1vw, 3rem);
        margin-bottom: .5rem;
    }

    & .date {
        color: var(--zm-white);
        font-weight: 300;
        font-size: clamp(1rem, 1vw, 1.2rem);
        margin-bottom: 2rem;
    }

    &.open {
        right: 0;
    }
}

.content {
    font-size: clamp(1.3rem, 1vw, 1.8rem);
    line-height: 1.5;
    font-weight: 200;
}
  
  .close-btn {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 4em;
    background: none;
    font-weight: 600;
    border: none;
    color: var(--zm-pink);
    cursor: pointer;
  }