
#projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

#projects .scroll-wrapper {
    height: 100vh;
    height: 100dvh;
    overflow-y: scroll;
    scroll-snap-type: x inline mandatory;
    scroll-behavior: smooth;
  }
  
  .projects-wrap {
    display: flex;
    flex-wrap: wrap;

    gap: 1.5em;
  }

  .project {
    width: 100%;
    max-width: 300px;
    height: 400px;
    position: relative;
    cursor: pointer;

    & .project-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25%, rgba(22, 22, 22, 1) 65%);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      text-align: center;
      font-weight: 600;
      padding: 2rem 1rem;

      & .project-name {
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
      }
    }

    &:hover {
      z-index: 2;
    }

    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  @media screen and (min-width: 992px) {

    .project {
      flex: 1 0 21%;
    }
  }

  @media screen and (max-width: 991px) {

    #projects {
      align-items: center;
    }

    .project {
      margin: 0 auto;
    }
  }
