a.btn {
  display: block;
  border: 1px solid var(--zm-teal);
  font-weight: 300;
  padding: .6rem 2rem;
  transition: all ease-in-out .2s;
}

a.btn:hover {
  background-color: var(--zm-teal);
  color: var(--zm-black);
}

.highlight {
  color: var(--zm-teal);
}

