:root {
  --zm-teal: hsl(167, 98%, 49%);
  --zm-orange: hsl(29, 95%, 64%);
  --zm-pink: hsl(334, 59%, 54%);
  --zm-grey: hsl(0, 0%, 60%);
  --zm-black: hsl(216, 28%, 7%);
  --zm-light-black: hsl(216, 26%, 11%);
}

@font-face {
  font-family: "Thunder";
  font-weight: 700;
  src: local("Thunder-Bold"),
       url("./assets/fonts/Thunder-Bold.woff") format("woff");
}

@font-face {
  font-family: "Thunder";
  font-weight: 800;
  src: local("Thunder-ExtraBold"),
       url("./assets/fonts/Thunder-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Thunder";
  font-weight: 900;
  src: local("Thunder-Black"),
       url("./assets/fonts/Thunder-Black.woff") format("woff");
}

html,
body {
  height: 100vh;
}

body {
  background-color: var(--zm-black);
  color: white;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
}


h1 {
  font-family: 'Thunder', sans-serif;
  font-size: 4rem;
  margin-bottom: 0;
  font-weight: 700;
  line-height: normal;
}

h1 .highlight {
  color: var(--zm-teal);
  font-size: 10rem;
  font-weight: 900;
}

h2 {
  font-size: 2.4rem;
  margin-bottom: 3rem;
  font-weight: 700;
}

h3 {
  font-size: 1.6rem;
}

p {
  font-size: 1.3rem;
  line-height: 2.3rem;
  margin-bottom: 2rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* ====================
    ANIMATIONS
======================= */
  
@keyframes border-flicker {
  0% {opacity: 1;}
  1% {opacity: .1;}
  2% {opacity: 1;}
  2.5% { opacity: .1;}
  4% { opacity: 1;}
  20% { opacity: 1;}
  21% { opacity: .1;}
  22% { opacity: 1;}
  23% { opacity: .1;}
  24% { opacity: 1;}
  60% { opacity: 1;}
  61% { opacity: .1;}
  62% { opacity: 1;}
  62.5% { opacity: .1;}
  63% { opacity: 1;}
  63.5% { opacity: 1;}
  66% { opacity: .1;}
  67% { opacity: 1;}
  68% { opacity: .1;}
  69% { opacity: 1;}
  100% { opacity: 1;}
}